.card_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10%;
	text-align: center;
	margin-left: 20px;
}

.lambda_logo {
	height: 100px;
	width: 100px;
}

.github_logo {
	width: 200px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	font-size: 60px;
}


.card {
	width: 800px;
	height: 300px;
	background-color: lightcyan;
	display: inline-block;
	justify-content: space-evenly;
	box-shadow: 5px 8px black;
	margin-left: 300px;
	text-align: center;
}

.follower_card{
	width: 400px;
	height: 200px;
	background-color: lightcyan;
	display: inline-block;
	box-shadow: 5px 8px black;
	margin-top:20px;
}

.follower_card img {
	height: 150px;
	width: 150px;
}

.card-info {
	color: darkslategray;
	text-align: right;
	padding:5px;
}

h2 {
	margin-left: 650px;
}

